.container {
    display: flex;
    flex-direction: column;
    width: 960px;
}

.column {
    display: flex;
    height: 50px;
}

.pixel {
    border: black solid 1px;
    flex: 1;
}

.colored {
    background: black;
}